RUST_LOG=info
# file or stdout
LOG_TARGET=stdout
# %2f is the URL-encoded form of "/"
RABBITMQ_URL=amqp://<user>:<password>@<host>:<port>/%2f
RABBITMQ_QUEUE_NAME=MappingQueue
RABBITMQ_CONSUMER_TAG=binder
DATABASE_URL=postgres://<user>:<password>@<host>:<port>/<db>
